.tag-selector {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.tag {
	display: inline-block;
	padding: 4px 4px;
	border: 1px solid #ccc;
	border-radius: 8px;
	cursor: pointer;
	margin: 2px;
	color: #fff;
	font-size: smaller;
}

.tag.selected {
	background-image: linear-gradient(
		to right,
		#00965f 0%,
		#00bc77 51%,
		#00965f 100%
	);
	border-color: #00965f;
}

input[type="text"] {
	outline: none;
	padding: 5px 10px;
	border: 2px solid #00965f;
	border-radius: 8px;
	background-color: #4e4e4e;
	width: 90%;
	color: #fff;
}
.tag-list {
	overflow-y: scroll;
	background-color: #4e4e4e;
	max-height: 40vh;
	color: gray;
	border: 2px solid #00965f;
	border-radius: 8px;
	padding: 4px;
	position: fixed;
	transform: translate(0, 36px);
	margin: 0px 8px;
}
.tag-list::-webkit-scrollbar {
	width: 0.2em;
}
.tag-list::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 20px;
}
.tag-selected-list {
	margin-top: 8px;
}
