.NavBar {
	position: fixed;
	top: 0;
	margin: 16px;
	width: 90%;
	border-radius: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4px 24px;
	backdrop-filter: blur(50px);
	background-image: linear-gradient(
		to bottom right,
		rgba(50, 50, 50, 0.4),
		rgba(50, 50, 50, 0.2)
	);
}
