.NavBar {
	position: fixed;
	top: 0;
	margin: 16px;
	width: 90%;
	border-radius: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4px 24px;
	backdrop-filter: blur(50px);
	/* background-image: linear-gradient(
		to bottom right,
		rgba(50, 50, 50, 0.4),
		rgba(50, 50, 50, 0.2)
	); */
	background-color: rgba(25, 25, 25, 0.8);
}
.NavBar__LeftSide {
	display: flex;
	align-items: center;
}
.LeftSide__Link {
	margin: 0px 32px;
	font-family: "Roboto Mono", monospace;
	color: rgb(0, 150, 95);
	text-align: center;
	font-size: x-large;
	cursor: pointer;
	text-decoration: none;
}

.LeftSide__Link:hover {
	text-shadow: 0 0 10px rgb(0, 150, 95);
}
