.SpecialButton {
	background-image: linear-gradient(
		to right,
		#00965f 0%,
		#00bc77 51%,
		#00965f 100%
	);
	margin: 10px;
	padding: 8px 16px;
	text-align: center;
	transition: 0.5s;
	background-size: 200%;
	color: white;
	border-radius: 20px;
	border: none;
	display: flex;
	box-shadow: 0 0 20px #000;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.SpecialButton:hover {
	background-position: right center; /* change the direction of the change here */
	color: white;
	transform: scale(1.1);
}

.SpecialButton:active {
	transform: scale(0.8);
}
