.UploadImage__Wrapper {
	padding: 5px 10px;
	border: 2px solid #00965f;
	border-radius: 8px;
	background-color: #4e4e4e;
	width: 100%;
	overflow-y: scroll;
	box-sizing: border-box;
	height: 50vh;

	/* max-height: 200px; */
}
.UploadImage__Wrapper::-webkit-scrollbar {
	width: 0.2em;
}
.UploadImage__Wrapper::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 20px;
}

.ImageItem__Btn {
	outline: none;
	padding: 5px 10px;
	border: 2px solid #00965f;
	border-radius: 8px;
	background-color: #4e4e4e;
	color: #fff;
	cursor: pointer;
	margin-top: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
}
button:hover {
	background-color: #777;
}
.UploadImage__Btn {
	background-image: linear-gradient(
		to right,
		#00965f 0%,
		#00bc77 51%,
		#00965f 100%
	);
	margin: 10px;
	padding: 8px 16px;
	text-align: center;
	transition: 0.5s;
	background-size: 200%;
	color: white;
	border-radius: 20px;
	border: none;
	display: flex;
	box-shadow: 0 0 20px #000;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.UploadImage__Btn:hover {
	background-position: right center; /* change the direction of the change here */
	color: white;
	transform: scale(1.1);
}
.ImageItem {
	margin: 16px;
	display: inline-block;
}
.ImageItem__ImageContainer {
	border: 2px solid #00965f;
	border-radius: 8px;
	width: 200px;
	height: 200px;
	padding: 8px;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}
.ImageItem__Image {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
}
